<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>补货管理系统</title>
    <link rel="stylesheet" href="../static/css/base.css" type = "text/css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>补货管理系统</h1>
    <div class="publicHeaderR">
        <p>
            <span id="hours"></span>
            <span style="color: #fff21b"> {{ name }}</span>管理员 , 欢迎你！
        </p>
        <a href="/logout">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time"></span>
    <a href="#">温馨提示：为了能正常浏览，请使用google浏览器！</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <!--
                <li><a href="/addWarehousing">进货管理</a></li>
                <li><a href="/delOutbound">出货管理</a></li>
                <li><a href="/addStock">库存管理</a></li>
                -->
                <li><a href="/list">药品管理</a> </li>
                <li><a href="/logout">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>首页</span>
        </div>
        <div style="overflow: scroll;height: 600px;width: auto;">
            <p>欢迎使用jjx开发的管理系统</p>
        </div>
    </div>
</section>
<!--点击删除按钮后弹出的页面-->
<footer class="footer">
    <div class="company">欢迎来到网站</div>
    <div class="record"></div>
    <div class="desc">电话：4008000000 | 邮箱：support@21epub.com</div>
</footer>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/js.js"></script>
<script src="../static/js/time.js"></script>
</body>
</html>