<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <title>欢迎来到图书管登录界面</title>
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta name="keywords" content="" />
    	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
    <link rel="stylesheet" type="text/css" href="../static/css/test.css" media="all">
	<link href="../static/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>
<body class="login_bg">
	<div class="loginBox">
		<div class="header">
			<img src="../static/img/logo.jpg" alt="logo"/>
			<a>仓库管理系统</a>
		</div>
		<div class="loginCont">
			<form class="formBox" action="/" method="post">
				<div class="loginForm">
					<div class="formDiv">
						<label>
							<input type="text" autocomplete="off"
							       name="name" placeholder="账号" autofocus="autofocus" class="el-input__inner" required/>
						</label>
					</div>
					<div class="formDiv">
						<label>
							<input type="password" autocomplete="off" name="password" placeholder="密码" class="" required/>
						</label>
					</div>
					<div class="login-btn">
						<button type="submit" class="subBtn">
							<span>登录</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>