<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>仓库管理系统</title>
    <link rel="stylesheet" href="../../static/css/stock.css"/>
    <link rel="stylesheet" href="../../static/css/style.css"/>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>仓库管理系统</h1>
    <div class="publicHeaderR">
        <p>
             <span id="hours"></span>
            <span style="color: #fff21b"> {{ name }}</span>管理员 , 欢迎你！</p>
        <a href="/logout">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time"></span>
    <a href="#">温馨提示：为了能正常浏览，请使用google浏览器！</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/addStock">新增库存页面</a></li>
                <li><a href="/list_stock">库存明细页面</a></li>
                <li><a href="/index">返回首页</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>库存管理页面</span>
        </div>
        <form method="post">
            <div class="search">
                <span>货物名称：</span>
                <input type="text" placeholder="输入名称" name="name"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="查询" formaction="/search_stock"/>
            </div>
        </form>
        <div style="overflow: scroll;height: 560px;width: auto;">
            <table class="providerTable" cellpadding="0" cellspacing="0"
                   style="position: relative;top: 8px;width: 1237px;left: 0px;">
                <tr class="firstTr">
                    <th>名称</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>
                        <a href="/edit_stock?name={{ stock[0]}}"><img src="../../static/img/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="/delete_stock?name={{ stock[0] }}"><img src="../../static/img/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<!--点击删除按钮后弹出的页面-->
 <footer class="footer">
        <div class="company">欢迎来到网站</div>
        <div class="record"></div>
        <div class="desc">电话：4008000000 | 邮箱：support@21epub.com</div>
    </footer>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/js.js"></script>
    <script src="../../static/js/time.js"></script>
</body>
</html>